.update {
    color: navy;
    text-decoration: none;
}
.fa-magnifying-glass {
    transition: 300ms;
    font-size: 1.2em;
}
.update:hover {
    color: rgb(22, 22, 182);
}
.update:hover .fa-magnifying-glass {
    transform: scale(1.1);
}

.fa-trash {
    color: rgb(161, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
    transition: 300ms;
}
.fa-trash:hover {
    color: rgb(191, 19, 19);
    transform: scale(1.1);
} 

table tr:nth-child(2n+2) {
    background-color: #eee;
}
table th {
    font-size: 1.2em;
    background-color: #ddd;
    text-align: center;
}
table td {
    vertical-align: middle;
    text-align: center;
}
.add-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button-box button {
    margin-top: 20px;
    font-weight: bold;
    width: 25vw;
    margin-bottom: 30px;
    transition: 300ms;
    transform: scale(1.1);
}
.add-button-box button i {
    display: none;
}
.add-button-box button:hover {
    transform: scale(1.2);
}
.dashboard-tab {
    transform: scale(1.2);
    text-decoration: underline;
    font-weight: bold;
}
form label {
    font-weight: bold;
    margin-top: 20px;
}
form select, form input {
    width: 100%;
    border: 1px solid #cccccf;
    border-radius: 7px;
    padding: 7px 12px;
}
.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-box input {
    width: 25vw;
}

@media screen and (max-width: 850px) {
    .table th {
        font-size: .8em;
    }
    .table td {
        font-size: .8em;
    }
    .table .extra-info {
        display: none;
    }
    .add-button-box button {
        max-width: 100px;
    }
    .add-button-box button i {
        display: block;
    }
    .add-button-box button span {
        display: none;
    }
    
}

@media screen and (max-width: 475px) {
    .table th {
        font-size: .75em;
    }
    .table td {
        font-size: .75em;
    }

}