.update {
    color: navy;
    text-decoration: none;
}
.fa-magnifying-glass {
    transition: 300ms;
    font-size: 1.2em;
}
.update:hover {
    color: rgb(22, 22, 182);
}
.update:hover .fa-magnifying-glass {
    transform: scale(1.1);
}

.fa-trash {
    color: rgb(161, 0, 0);
    font-size: 1.2em;
    cursor: pointer;
    transition: 300ms;
}
.fa-trash:hover {
    color: rgb(191, 19, 19);
    transform: scale(1.1);
} 

.table tr:nth-child(2n+2) {
    background-color: #eee;
}
.table th {
    font-size: 1.2em;
    background-color: #ddd;
}
.add-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button-box button {
    font-weight: bold;
    width: 10vw;
    transition: 300ms;
}
.add-button-box button:hover {
    transform: scale(1.1);
}