.main {
    background-color: var(--secondary);
}

#table-wrapper {
	overflow: hidden;
	text-align: center;
	 margin:20px;

}

.gridjs-wrapper{
	border-radius: 0 8px 0 0;
	
	
}

.gridjs-container {
    font-family: 'Lato', sans-serif;
	margin: 0 auto;
	margin-bottom: 100px;
}

.gridjs-table{
	margin: 0 auto;
}

.gridjs-tbody {
	cursor: pointer;
}
th.gridjs-th{
	background-color: var(--smooth);
	color: var(--dark);
}
.gridjs-td{
	border: 1px solid black;
}
.gridjs-tbody > .gridjs-tr:hover .gridjs-td {
	background-color: var(--smooth);
}
.gridjs-head{
	margin-bottom: 0;
	width: fit-content;
	border-radius: 8px 8px 0 0;
	background-color: var(--light);
	margin-top: 25px;
	height: 25px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.gridjs-head.unfolded {
	margin-top: 00px;
	height: 50px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	background-color: var(--smooth);
}
.gridjs-search {
	/* margin-left: 80px; */
	background-color: transparent;
}

.material-icons.gridjs-search-icon {
	position: absolute;
	color: var(--main);
	cursor: pointer;
	font-size: 32px;
	top: 28px;
	left: 20px;
	transition: color 0.4s ease-in-out, top 0.5s ease-in-out, font-size 0.5s ease-in-out, left 0.5s ease-in-out;
	font-size: x-large;
}

.gridjs-head.unfolded .material-icons.gridjs-search-icon{
	top: 13px;
	left: 17px;
	font-size: xx-large;
}

.gridjs-search .gridjs-search-input {
	margin-left: 33px;
	width: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	background-color: var(--light);
	box-shadow: none;
	outline: none;
	cursor: pointer;
	transition: width 0.6s, margin-left 0.6s, background-color 0.5s ease-in-out;
}

.gridjs-search input.gridjs-search-input:focus {
	border: none;
	box-shadow: none;
}

.gridjs-head.unfolded .gridjs-search-input{
	background-color: var(--smooth);
}
.gridjs-head:focus .gridjs-search-input, .gridjs-head:hover .gridjs-search-input{
	background-color: var(--smooth);
}

.gridjs-search .gridjs-search-input.unfolded {
	width: 250px;
	margin-left: 43px;
	cursor: text;
	border: none;
	outline: none;
	box-shadow: none;
}

.gridjs-search .gridjs-search-input:focus ~ i {
	/* color:var(--dark); */
	box-shadow: none;
}

.gridjs-td[data-column-id='email'] {
	width: fit-content;
}

.gridjs-td[data-column-id='age'], 
.gridjs-td[data-column-id='state'],
.gridjs-td[data-column-id='phoneNumber'],
.gridjs-td[data-column-id='delete'],
.gridjs-th[data-column-id='delete']
{
	text-align: center;
}

.gridjs-td[data-column-id='email'] .email-wrapper {
	display: flex;
	gap: 10px;
	width: 100%;
}

.gridjs-td[data-column-id='name'] > span {
	display: flex;
    align-items: center;
    gap: 10px;

}

.gridjs-td[data-column-id='email'] .email-wrapper span {
	overflow: hidden;
}

.gridjs-td a {
	margin-left: auto;
	color: var(--secondary);
	cursor: pointer;
	font-size: x-large;
	font-weight: 400;
	text-decoration: none;
}

.gridjs-td a:visited {
	color: var(--secondary);
}

.gridjs-td a:focus, .gridjs-td a:hover {
	color: var(--main);
}

.gridjs-td[data-column-id='delete'] {
	text-align: center;
}

.gridjs-th[data-column-id='delete'] button,
.gridjs-td[data-column-id='delete'] button {
	background-color: transparent;
	color: var(--secondary);
	border: none;
	outline: none;
	cursor: pointer;
	font-size: x-large;
	font-weight: 400;
	text-decoration: none;
}

.gridjs-th[data-column-id='delete'] button {
	color: var(--dark);
}

.gridjs-th button:visited,
.gridjs-td button:visited {
	color: var(--secondary);
}

.gridjs-th button:focus, .gridjs-th button:hover,
.gridjs-td button:focus, .gridjs-td button:hover {
	color: var(--main);
}