.employee-tab {
    transform: scale(1.2);
    text-decoration: underline;
    font-weight: bold;
}
.btns-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px; 
}
form label {
    font-weight: bold;
    margin-top: 20px;
}
form select, form input {
    width: 100%;
    border: 1px solid #cccccf;
    border-radius: 7px;
    padding: 7px 12px;
}

.btns-box > * {
    width: 10vw;
    font-weight: bold;
}
.btns-box input {
    width: 25vw;
    transform: scale(1.1);
    transition: 300ms;
}
.btns-box button {
    width: 25vw;
    transform: scale(.9);
    transition: 300ms;
}
.btns-box input:hover {
    transform: scale(1.2);
}
.btns-box button:hover  {
    transform: scale(1);
}
.btns-box button a {
    color: white;
    text-decoration: none;
}