.error_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 6.6vh;
    background-color: var(--error);
    margin: 20px auto;
    border-radius: 10px;
}

.success_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 6.6vh;
    background-color: var(--green);
    margin: 20px auto;
    border-radius: 10px;
}

.error {
    color: var(--white-title);
    padding: 10px auto;
    font-size: 2rem;
    font-weight: 600;
}
