footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #191A19;
  color: #777;
  width: 100%;
 /*  padding-top: 200px; */
}
