html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Varela Round", sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  background: #191A19;
  top: 0;
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  margin: 0 auto;
  list-style: none;
  padding-top: 15px;
}

.menu li:first-child > a > img{
    position: absolute;
    left: 10px;
    width: 30px;
}

.menu li {
  max-width: 125px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}

.menu li a {
  font-size: 22px;
  color: #777;
  text-decoration: none;
  transition: all 0.45s;
}

.menu li:hover a {
  color: #d94f5c;
}

.menu li:not(:last-child) {
  margin-right: 30px;
}

.menu li:first-child{
    position: absolute;
    left: 0;
}


.menu li:last-child{
    position: absolute;
    right: 10px;
}