.input-bar{
    background-color: bisque;
}

.input-age{
    max-width: 40px;
}
.input-street{
    max-width: 50px;
}

.input-city{
    max-width: 100px;
}
.input-state{
    max-width: 50px;
}
.input-postalCode{
    max-width: 100px;
}

.input-phone{
    max-width: 150px;
}