/*Log in css*/
.login-container{
  min-height: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:auto;
}
.header-img{
  text-align: center;
  width: 50%;
}
form{
  width: 50%;
}

input[type=submit]{
  margin-top: 30px;
  width: 100%;
}
/*Alert message*/
.alert{
  width: 50%;
  text-align: center;
}