body {
  margin: 0;
}

.list-container {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li:not(:last-child) {
  margin-right: 2rem;
}

<<<<<<< HEAD
=======

/* EMPLOYEE */

.user-avatar {
  width: 15rem;
}

.avatar-option {
  width: 8rem;
  cursor: pointer;
}

.refresh-button {
  margin-left: 40%;
  margin-bottom: 2rem;
}

.employee-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

>>>>>>> master
.logout-btn {
  cursor: pointer;
  margin-right: 3rem;
  color: #0005db;
  text-decoration: none;
  padding: 0.5rem;
  background-color: #db5716;
  border-radius: 0.3rem;
  border: 1px solid #0005db;
}

.logout-btn:hover {
  background-color: #0005db;
  border: 1px solid white;
  color: #db5716;
}

/* UTILS */

.d-flex {
  display: flex;
}

.d-flex-center {
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------- HEADER -----------------------------------*/

.main-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #0005db;
}

.main-header__container > * {
  padding: 1.5rem;
  color: white;
}

.main-header__logo {
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: #db5716;
  border-radius: 0.3rem;
}

.nav-link a {
  color: #0005db;
  text-decoration: none;
  padding: 0.5rem;
  background-color: #db5716;
  border-radius: 0.3rem;
  border: 1px solid #0005db;
}

.nav-link a:hover {
  background-color: #0005db;
  border: 1px solid white;
  color: #db5716;
}

.main-header__title {
  font-size: 1.5rem;
}

/*--------------------------------------------- TABLE -----------------------------------*/

.table__header {
  padding: 0.5rem;
  background-color: #db5716 !important;
  border: 1px solid #db5716 !important;
}

.table__row {
  border: 1px solid black !important;
}
