


body {
  align-items: center;
  background-color: rgb(214, 247, 240);
  padding: 10vh;
  justify-content: center;
  height: 50vh;
  font-family: 'Lato', sans-serif;
  
}


a {
  float: right;
	width: 201px;
	height: 40px;
	background:#08d;
  margin-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: white;
}

#dashboardEmployeeTable {
  font-family: 'Lato', sans-serif;
  border-radius:5px;
  width: 100%;
  text-align: center;
  background-color: rgb(194, 228, 221);
  border: 100px solid  #15172b;
  border-radius: 10px;
  
}

#dashboardEmployeeTable td, #dashboardEmployeeTable th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

#dashboardEmployeeTable tr:nth-child(even){background-color: #f2f2f2;}

#dashboardEmployeeTable tr:hover {background-color: #ddd;}

#dashboardEmployeeTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #15172b;
  color: white;
}
