.navFlex {
    width: 40%;
    display: flex;
    justify-content:space-between;
}

.formFlex {
    margin: 0% auto 0% auto;
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.employeeForm {
    margin-top: 5%;
}

.flexButtons {
    margin-top: 2%;
}