
.modal-wrapper {
    position: fixed;
    z-index: 1;
    background-color: #17252a38;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-wrapper.appearing {
    animation: fadeIn 0.3s forwards;
}

.modal-wrapper.disappearing {
    animation: fadeOut 0.3s forwards;
}

.modal-container {
    font-family: 'Lato', sans-serif;
    background-color: var(--smooth);
    color: var(--secondary);
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0008;
}

.modal__input {
    color:var(--secondary);
    background-color: var(--light);
    border-radius: 5px;
    font-size: large;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    border: 2px solid var(--smooth);
    box-shadow: inset 1px 1px 5px #0008;
    padding: 0.2em 0.25em;
}

.modal__input:hover, .modal__input:focus {
    border: 2px solid var(--main);
    outline: none;
}

.add-modal {
    padding: 30px;
    color: var(--secondary);
    /* border: 4px solid black; */
    border-radius: 10px;
    font-weight: bold;
}

.add-modal .modal-title {
    text-align: center;
    margin-top: 0;
    color: var(--dark);
}

.add-modal form {
}

.labeled-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-modal form .fields {
    display: flex;
    justify-content: space-around;
    gap: 16px;

}

.add-modal form input[type="submit"] {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.2em 2em;
    background-color: var(--main);
    box-shadow: 1px 1px 5px #0008;
    color:var(--light);
    border:none;
    cursor: pointer;
}

.add-modal form input[type="submit"]:hover, .add-modal form input[type="submit"]:focus{
    background-color: var(--secondary);
    border:none;
}

.deletion-modal-container {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    animation: deletionAppear 0.6s forwards;
}

.deletion-modal {
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 16px;
}

.deletion-modal .message {
    color: var(--dark);
    font-size: large;
}

.deletion-modal .message .employee {
    color: var(--secondary);
    cursor: pointer;
    transition: color 0.2s;
}

.deletion-modal .message .employee:hover {
    color: var(--main);
    
}

.deletion-modal .button__delete {
    position: relative;
    padding: 0.2em 2em;
    background-color: var(--main);
    box-shadow: 1px 1px 5px #0008;
    color:var(--light);
    border:none;
    cursor: pointer;
    margin-top: 1em;
}
.deletion-modal .button__delete:hover, .deletion-modal .button__delete:focus {
    background-color: var(--secondary);
    border:none;
}

.deletion-modal .button__close {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    color: var(--dark);
    background: none;
    border: none;
    cursor: pointer;
}

.modal-image{
    width: 100%;
    text-align: center;
    margin: 1em;
}

@keyframes deletionAppear {
    from {
        max-width: 0;
    }
    to {
        max-width: 600px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}