header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 10vh;
    background-color: var(--green);
}
.title, h4 {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}
.nav-links li:hover {
    filter: opacity(0.6);
}
.nav-links a {
    color:rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
header button, .searchBar__submit {
    padding: 3px 25px;
    text-transform: uppercase;
    margin: 5px;
    font-weight: bold;
}
.searchBar {
    display: flex;
}
.searchBar__input {
    width: 100%;
    padding: 1vh;
    font-size: 1.2rem;
    border: none;
    display: inline-block;
    border-radius: 5px;
}

.searchBar__input:focus {
    outline: none;
	border: 1px solid var(--light-grey);
}
.searchBar__submit {
    background-color: transparent;
    border: none;
    color: rgb(226, 226, 226);
    cursor: pointer;
    outline: none;
}
.searchBar__submit i{
    color: rgb(226, 226, 226);
}
.logoutBtn {
    height: 10vh;
    background-color: transparent;
    border: none;
    color: rgb(226, 226, 226);
    cursor: pointer;
    outline: none;
}
.searchBar__submit i:hover {
    filter: opacity(0.6);
}
.logoutBtn:hover {
    filter: opacity(0.6);
}

.jsGrid {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
